@model List<Book_Management.Models.UserMst>

@{
    ViewData["Title"] = "GetUser";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">

            <div class="mb-4">

                <a class=" btn btn-success " style="float:right;" asp-action="AddUser">Add User</a>

            </div>
           
            <div class="mb-3">
                <div class="text-success">

                    @if (TempData["DeleteUser"] != null)
                    {
                        <p class="text-success" id='message'>@TempData["DeleteUser"]</p>
                    }

                </div>
            </div>

            <table class="table table-bordered-none table-responsive" id="tbllist">
                <thead>
                    <tr class="text-center">
                        <th>FullName</th>
                        <th>Email</th>
                        <th>UserName</th>
                        <th>Address</th>
                        <th>ContactNumber</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr class="Text-center">
                        <td>@item.FullName</td>
                        <td>@item.Email</td>
                        <td>@item.UserName</td>
                        <td>@item.Address</td>
                        <td>@item.ContactNumber</td>
                        <td>
                            <a class=" btn btn-warning m-1" asp-action="UpdateUser" asp-route-id="@item.UserId">Edit</a>
                            <a class=" btn btn-danger m-1" asp-action="DeleteUser" asp-route-id="@item.UserId">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@*for jquery dataTables*@
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>

@section scripts{
    @{

        <script type="text/javascript">

            $(document).ready(function () {
                $('#tbllist').DataTable();
            });

            setTimeout(function () {
                $('#message').hide(3000);
            });
        </script>
    }
}




