@model List<Book_Management.Models.BookMst>

@{
    ViewData["Title"] = "GetBook";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<style>
    .table > :not(caption) > * > * {
         border-bottom-width: 0px; 
    }
    .table-row
    {
       display:grid;
       float:left;
    }
</style>

<div class="mb-5">
    <hr />

    <a class=" btn btn-success " style="float:right;" asp-action="AddBook">Add Book</a>

</div>
<div class="row">
    <div class="col-12">

        <div class="mb-3">
             <div class="text-success">

                @if (TempData["DeleteBook"] != null)
                {
                    <p class="text-success" id='message'>@TempData["DeleteBook"]</p>
                }

            </div>
        </div>
        

        <table class="table table-responsive" id="tbllist" style="border:none">
            <thead>
                <tr class="text-center" style="border:none">
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {

                <tr class="table-row">
                    <td style="border:none"> <img src="@("~/"+item.CoverImagePath)" asp-append-version="true" height="100px" width="300px" /></td>
                    <td>
                        <a class=" btn btn-warning m-1" asp-action="UpdateBook" asp-route-id="@item.BookId">Edit</a>
                        <a class="btn btn-warning m-1" asp-action="DownloadBook" asp-route-id="@item.BookId">Download</a>
                        <a class=" btn btn-danger m-1"  asp-action="DeleteBook" asp-route-id="@item.BookId">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


@section scripts{
    @{
        <script type="text/javascript">

            setTimeout(function () {
                $('#message').hide(3000);
            });
        </script>
    }
}

       @* <script type="text/javascript">
            function (alert) {
                window.alert("Hello world!");
            }
        </script>*@


